@using StorForStudentsWebApp.Models
<table class="table table-striped table-hover">
    <tr>
        <th>
            Название товара
        </th>
        <th>
            Цена
        </th>
        <th>
            Количество
        </th>
        <th colspan="2">
            Удаление/Редактирование
        </th>
    </tr>

    @foreach (ItemModel item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                @using (Html.BeginForm("Index", "DeleteItem",item))
                {
                    <div class="form-horizontal">
                        <input type="submit" value="Удалить" />
                    </div>
                }
            </td>
            <td>
                Здесь должна быть ссылка на редактирование элемента
            </td>
        </tr>
    }
</table>
