@using StorForStudentsWebApp.Models
@model AdminCatalogViewModel

@{
    ViewBag.Title = "Редактор товаров.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Панель администратора. Редактор товаров.</h2>
@Html.Partial("AdminCatalogTablePartialView", Model.itemList)


<div>
    @Html.ActionLink("Добавить элемент", "Index", "AddItem")
</div>