@model StorForStudentsWebApp.Models.OrderModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order @Model.Id, by sweet potato @Model.User</h2>
<!--Html.Partial("ItemsInOrderPartialView", @Model)-->
<table class="table">
    <tr class="tab-content">
        <td>Name</td>
        <td>Quantity</td>
        <td>Total Price </td>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr class="tab-content">
            <td>@item.Item.Name</td>
            <td>@item.Quantity</td>
            <td></td>
        </tr>
    }
</table>