@if (Request.IsAuthenticated)
{
    <div class="bucket-info navbar-right">
        <a href="#">В вашей корзине</a> @Html.Action("GetItemsCountInOrder", "BucketPartial") предметов. <br/>
        Общая стоимость: @Html.Action("GetOrderPrice", "BucketPartial")р.
    </div>
}