@{
    ViewBag.Title = "Home Page";
}




<table class="table">
   
    @foreach (var item in ViewBag.Items) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Quantity
            </td>

        </tr>
        <br>
    }
    да-да.
</table>
  