<form action="/AddItem/Create" method="post">
    <div class="item">
        <input type="text" id="Name" name="Name" />
        <label for="Name">Название товара</label>
    </div>
    <div class="item">
        <input type="text" id="Price" name="Price" />
        <label for="Price">Цена</label>
    </div>
    <div class="item">
        <input type="text" id="Quantity" name="Quantity" />
        <label for="Quantity">Количество</label>
    </div>
    <div class="item">
        <input type="text" id="Description" name="Description" />
        <label for="Description">Описание</label>
    </div>
    <div class="item">
        <input type="text" id="ImagePath" name="ImagePath" />
        <label for="ImagePath">Путь к картинке</label>
    </div>
    <input type="submit" value="Добавить" />
</form>
