@using StorForStudentsWebApp.Models
@model AdminCatalogViewModel

@{
    ViewBag.Title = "Добавить товар.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавление товара в каталог</h2>
@Html.Partial("AddItemFormPartialView")


